.popup__container{
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 25%;
    left: 30%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 25px;
    opacity: 1;
    z-index: 2;
    padding: 34px 36px 36px;
    
}