.cover__edit{
    width: 24px;
    height: 24px;
    align-self: flex-end;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 17px;
    margin-bottom: 5px;
    font: inherit;
    font-size: 0;
    background-color: #000000;
    background-image: url(../../../images/edit-button.svg);
    background-size: 42%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border: 1px solid #FFFFFF;
    
}


@media screen and (max-width: 767px) {
    .cover__edit{
        margin: 0;
        margin-left: 5px;
        align-self: center;
        justify-self: start;
    }
}