.place__like-button{
    width: 21px;
    height: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 0;
    background-image: url(../../../images/like-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #FFFFFF;

}

.place__like-button:hover{
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.4s linear;
}
